<% content_for :page_title, 'Edit transaction' %>
<h2>Editing transaction</h2>

<%= render 'form' %>

<%= link_to 'Show', @transaction, :class => 'btn btn-default' %>
<%= render partial: 'back_button' %>
