<div class="panel panel-default">
    <div class="panel-heading">
        <p>Addresses</p>
    </div>
    <div class="panel-body">
        <% if user_signed_in? && current_user.wallets.any? %>
            <% current_user.wallets.each do |w| %>
                <% if w.addresses.any? %>
                    <h4><%= w.label %></h4>
                    <ul>
                        <% w.addresses.each do |a| %>
                        <li><%= a.addr %></li>
                        <% end %>
                    </ul>
                <% else %>
                    <p>You have no addresses.</p>
                <% end %>
            <% end %>
        <% else %>
            <p class="waring">You have no wallets configured. Start by adding one.</p>
        <% end %>
    </div>
    <div class="panel-footer"> 
        <!-- FIXME -->
        <%= link_to "New address", new_wallet_path, :class => user_signed_in? ? "btn btn-primary btn-sm" : "btn btn-primary btn-sm disabled" %>
    </div>
</div>