<div class="col-md-4 sidebar">
	<!-- addresses -->
	<%= render 'addresses_panel' %>

	<!-- transactions -->
	<%= render 'transactions_panel' %>

	<!-- wallets -->
	<%= render 'wallets_panel' %>
</div>