<div class="col-md-4 sidebar">
	<!-- receive payment -->
	<%= render 'receive_payment_panel' %>

	<!-- wallets -->
	<%= render 'wallets_panel' %>
	
	<!-- transactions -->
	<%= render 'transactions_panel' %>
</div>